In [4]:
# Importando librerías necesarias
import numpy as np
import pandas as pd

**Ejercicio N°1:**

Escribir un programa que pregunte al usuario por las ventas de los
últimos 5 días, y muestre por pantalla una serie con los datos de
las ventas por producto: Nro de unidades y precio unitario,
indexada por los días, antes y después de aplicarles un descuento
del 5%.

In [95]:
# importación de librerías necesarias
from datetime import date, timedelta

# definición de la función que imprime el título y las ventas indexadas por el día
def imprimirVentas(titulo, ventas):
  print('\n', titulo, '\n')
  for k, v in ventas.items():
    print(k, '\t', round(v, 2)) # se imprime la venta con dos decimales

# variables a usar durante la ejecución
numDias = 5
dscto = 5
porc = 1 - dscto/100 # cálculo del porcentaje de venta final
hoy = date.today()
ventas = {}

# se consulta las ventas de los ultimos días
for i in range(numDias):
  # calculo de la diferencia en días
  dia = hoy - timedelta(days = numDias - i) 
  # se solicita las ventas del día
  ventas[dia] = float(input("Ingrese las ventas del día " + dia.strftime("%d/%m/%Y") + ': '))

# se obtiene la serie
ventas = pd.Series(ventas)

# imprimimos las ventas sin descuento
imprimirVentas('Ventas antes de aplicar descuento', ventas)

# imprimimos las ventas sin descuento
imprimirVentas('Ventas después de aplicar descuento', ventas * porc)

Ingrese las ventas del día 22/04/2022: 20
Ingrese las ventas del día 23/04/2022: 18
Ingrese las ventas del día 24/04/2022: 19
Ingrese las ventas del día 25/04/2022: 16
Ingrese las ventas del día 26/04/2022: 14

 Ventas antes de aplicar descuento

2022-04-22 	 20.0
2022-04-23 	 18.0
2022-04-24 	 19.0
2022-04-25 	 16.0
2022-04-26 	 14.0

 Ventas después de aplicar descuento

2022-04-22 	 19.0
2022-04-23 	 17.1
2022-04-24 	 18.05
2022-04-25 	 15.2
2022-04-26 	 13.3

**Ejercicio 2**

Escribir un programa que reciba un diccionario con los ingresos
mensuales de los clientes de una empresa, y devuelva una serie
con el ingreso mínimo, máximo y media.

In [96]:
# funcion que calcula la estadistica
def obtenerEstadistica(ingresos):
  # transformación del diccionario en una serie de ingresos
  ingresos = pd.Series(ingresos)
  # cálculo de la estadítica en base a la serie obtenida
  return pd.Series([ingresos.min(), ingresos.max(), ingresos.mean()], index=['Mínimo', 'Máximo', 'Media'])

# diccionario con los ingresos mensuales de los clientes de una empresa
ingresos = {'Juan Padilla':5000, 'María Roncal':4500, 'Pedro Montoya':4800, 'Carmen Salazar': 1500, 'Luis Corvera': 3700}

# llamada a la función que calcula la estadística
estadistica = obtenerEstadistica(ingresos)

# impresión de las estadísticas obtenidas
print('\nEstadísticas obtenidas\n')
for k, v in estadistica.items():
  print(k, '\t', round(v, 2))

Estadísticas obtenidas

Mínimo 	 1500.0
Máximo 	 5000.0
Media 	 3900.0

**Ejercicio 3**

Escribir un programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:

Mes      Ventas  Gastos
----------------------
Enero    30500  22000
----------------------
Febrero  35600  23450
----------------------
Marzo    28300  18100
----------------------
Abril    33900  35700
----------------------
Marzo    42500  32450
----------------------
A continuación, generar nuevas columna:
1. Columna 1 = Gasto/Ventas*100.
2. Columna 2 = Si Ventas&gt;= 30000, imprimir “Meta Superada”,
caso contrario imprimir “Meta no Superada”.
3. Columna 3 = Si Gasto&gt;Ventas, calcular el sobre gasto.
4. Obtener el total de las ventas de los últimos 3 meses
5. Obtener el total de gastos de febrero a abril

In [93]:
# establezco datos
datos = [['Enero', 30500, 22000], ['Febrero', 35600, 23450], ['Marzo', 28300, 18100], ['Abril', 33900, 35700], ['Mayo', 42500, 32450]]

# obtengo el dataframe en base a los datos establecidos
contabilidad = pd.DataFrame(datos, columns=['Mes', 'Ventas', 'Gastos'])

# imprimo el dataframe inicial
print('\nDataframe inicial\n')
print(contabilidad)

# Gasto/Ventas*100
contabilidad['Columna 1'] = (contabilidad['Gastos'] / contabilidad['Ventas'])*100

# Si Ventas >= 30000, imprimir “Meta Superada”, caso contrario imprimir “Meta no Superada”
contabilidad['Columna 2'] = np.where(contabilidad['Ventas'] >= 30000, 'Meta superada', 'Meta no superada')

# Si Gasto>Ventas, calcular el sobre gasto
contabilidad['Columna 3'] = np.where(contabilidad['Gastos'] > contabilidad['Ventas'], contabilidad['Gastos'] - contabilidad['Ventas'], '')

# imprimo el dataframe final
print('\nDataframe final\n')
print(contabilidad)

# obtengo el total de las ventas de los últimos 3 meses
print('\nTotal de ventas en los últimos 3 meses:', contabilidad['Ventas'][-3:].sum())

# obtengo el total de gastos de febrero a abril
print('\nTotal de gastos de febrero a abril:', contabilidad['Gastos'][1:4].sum())

Dataframe inicial

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23450
2    Marzo   28300   18100
3    Abril   33900   35700
4     Mayo   42500   32450

Dataframe final

       Mes  Ventas  Gastos   Columna 1         Columna 2 Columna 3
0    Enero   30500   22000   72.131148     Meta superada
1  Febrero   35600   23450   65.870787     Meta superada
2    Marzo   28300   18100   63.957597  Meta no superada
3    Abril   33900   35700  105.309735     Meta superada      1800
4     Mayo   42500   32450   76.352941     Meta superada

Total de ventas en los últimos 3 meses: 104700

Total de gastos de febrero a abril: 77250

**Ejercicio 4**

Con el siguiente fichero Data - Riesgos.csv contiene información
de riesgo de clientes de un banco. Escribir un programa con los
siguientes requisitos:
1. Generar un DataFrame con los datos del fichero.
2. Mostrar por pantalla las dimensiones del DataFrame, el
número de datos que contiene, los nombres de sus columnas
y filas, los tipos de datos de las columnas, mostrar las 10
primeras filas y las 10 últimas filas, verificar si tiene datos
perdidos/nulos.
3. Extraer las 100 primeras columnas y almacenarlas en un
contenedor.

In [30]:
# Genero un DataFrame con los datos del fichero
clientes = pd.read_csv('Data - Riesgos.csv')
# Muestro las dimensiones del DataFrame
print('Dimensiones:', clientes.shape)
# Muestro el número de datos que contiene
print('Número de datos:', clientes.size)
# Muestro los nombres de sus columnas
print('Nombres de columnas:', clientes.columns)
# Muestro los nombres de sus filas
print('Nombres de filas:', clientes.index)
# Muestro los tipos de datos de las columnas
print('Tipos de datos:\n', clientes.dtypes)
# Muestro las 10 primeras filas
print('10 primeras filas:\n', clientes.head(10))
# Muestro las 10 últimas filas
print('10 últimas filas:\n', clientes.tail(10))
# Verifico la cantidad de filas con datos perdidos/nulos
print('\nCantidad de datos perdidos/nulos:', len(clientes[np.isnan(clientes).any(axis=1)]))
# Extraigo las 100 primeras filas y las almaceno en un contenedor
contenedor = clientes.head(100)
print('Contenido del contenedor:\n', contenedor)

Dimensiones: (4500, 10)
Número de datos: 45000
Nombres de columnas: Index(['ID', 'edad', 'meses', 'max_ant', 'ingreso', 'score', 'tipo_vivienda',
       'zona', 'nivel', 'riesgo'],
      dtype='object')
Nombres de filas: RangeIndex(start=0, stop=4500, step=1)
Tipos de datos:
 ID                 int64
edad             float64
meses            float64
max_ant          float64
ingreso          float64
score            float64
tipo_vivienda      int64
zona             float64
nivel              int64
riesgo             int64
dtype: object
10 primeras filas:
      ID  edad  meses  max_ant  ingreso  score  tipo_vivienda  zona  nivel  \
0  2208  33.0  128.0      6.0   3230.0  192.0              2   3.0      2
1  2211  32.0  185.0      7.0   2930.0  217.0              2   1.0      5
2  2212  28.0    NaN      7.0   1883.7  202.0              2   1.0      2
3  2216  56.0  200.0      0.0    850.0  194.0              2   1.0      5
4  2218  32.0  131.0     65.0   3200.0  200.0              2   1.0      2
5  2219  34.0  145.0      6.0   7000.0  196.0              2   5.0      2
6  2226   NaN  114.0      0.0   2171.5  178.0              2   2.0      1
7  2227  27.0  116.0      0.0    800.0  169.0              2   1.0      5
8  2228  26.0  182.0      6.0   3150.0  190.0              4   3.0      5
9  2230  25.0  154.0      1.0   2600.0  189.0              2   1.0      2

   riesgo
0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
10 últimas filas:
         ID  edad  meses  max_ant   ingreso  score  tipo_vivienda  zona  nivel  \
4490  1486  59.0  288.0      0.0  30000.00  207.0              2   1.0      2
4491  1487  55.0  294.0     57.0   9300.00  238.0              4   1.0      2
4492  1488  53.0  148.0    106.0  30000.00  219.0              4   1.0      2
4493  1491  29.0  198.0     94.0   5250.00  214.0              2   1.0      2
4494  1493  32.0  195.0     41.0   7500.00  219.0              2   1.0      2
4495  1494  54.0  510.0     87.0  24000.00  214.0              2   1.0      2
4496  1495  63.0  305.0     99.0   9880.73  219.0              2   5.0      2
4497  1496  48.0  194.0    124.0  23000.00  224.0              4   1.0      2
4498  1497  39.0  245.0    121.0  12450.00  240.0              4   5.0      2
4499  1499  65.0  674.0     38.0  20000.00  238.0              4   5.0      2

      riesgo
4490       0
4491       0
4492       0
4493       0
4494       0
4495       0
4496       0
4497       0
4498       0
4499       0

Cantidad de datos perdidos/nulos: 39
Contenido del contenedor:
       ID  edad  meses  max_ant  ingreso  score  tipo_vivienda  zona  nivel  \
0   2208  33.0  128.0      6.0  3230.00  192.0              2   3.0      2
1   2211  32.0  185.0      7.0  2930.00  217.0              2   1.0      5
2   2212  28.0    NaN      7.0  1883.70  202.0              2   1.0      2
3   2216  56.0  200.0      0.0   850.00  194.0              2   1.0      5
4   2218  32.0  131.0     65.0  3200.00  200.0              2   1.0      2
..   ...   ...    ...      ...      ...    ...            ...   ...    ...
95  2387  41.0  141.0      0.0  3420.36  214.0              4   2.0      1
96  2389  29.0  159.0     17.0  1157.06  163.0              2   4.0      2
97  2391  27.0  122.0      NaN  2000.00  188.0              2   1.0      2
98  2392  35.0  111.0      0.0   812.53  177.0              2   1.0      5
99  2394  28.0  137.0      0.0  2000.00  175.0              3   1.0      5

    riesgo
0        1
1        1
2        1
3        1
4        1
..     ...
95       1
96       1
97       1
98       1
99       1

[100 rows x 10 columns]